{{ with .Site.Params.renders }}
{{ $renderDir := default "3D" $.Site.Params.renderDir }}
<div class="gallery-grid">
  {{ range . }}
  {{ $caption := . | replaceRE `\.png$` "" | replaceRE `^.*_(\d+)_` "" | replaceRE `[-_]` " " | title }}
  {{ if not $caption }}{{ $caption = . | replaceRE `\.png$` "" | replaceRE `[-_]` " " }}{{ end }}
  <figure>
    <img src="{{ $.Site.BaseURL }}{{ $renderDir }}/{{ . }}" alt="{{ $caption }}" loading="lazy">
    <figcaption>{{ $caption }}</figcaption>
  </figure>
  {{ end }}
</div>
{{ end }}
